<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>
            
          <div class="post">
            <p>I am a full stack web developer knowledgeable in many languages and technologies with specific experience in highly
distributed systems.</p>
         </div>

          <div class="footer">
            <div class="contact">
              <p>
                Brian Bolton<br />
                Senior Software Engineer Gemini<br />
                  <a href="mailto:brian.bolton@gmail.com">brian.bolton@gmail.com</a><br />
                Columbus, GA
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/bboltn">github.com/bboltn</a><br />
                <a href="https://www.linkedin.com/in/brian-bolton-0475564/">LinkedIn</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
